@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#5200FF, #E486EE);
    background-repeat: no-repeat;
    height: 100vh;

}

.angkor {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container, .quiz_container, .result_container {
    border-radius: 50px;
    width: 700px;
    background-color: #000E56;
}

.main_container .header, .quiz_container .header, .result_container .header {
    background-color: #120084;
    padding: 20px 0;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container .body{
    padding: 20px;
    text-align: center;
}

.main_container .body .heading {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main_container .body .form-label {
    color: #05FF00;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 20px 0 20px 0;
}

.main_container .body .form-control {
    width: 70%;
    margin: 0 auto;
    box-shadow: none;
    color: white;
    background-color: #5200FF;
}

.main_container .body .form-control::placeholder{
    color: white;
}

.main_container .body button{
    all: unset;
    color: white;
    font-size: 1.2rem;
    margin: 15px 0 0 0;
    cursor: pointer;
}



#quiz_container, #result_container{
    display: none;
}

.quiz_container .body {
    padding: 20px 80px 40px 80px;
    text-align: left;
    position: relative;
    color: white;
}

.quiz_container .body .optiondiv {
    color: white;
    background-color: #5200FF;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.quiz_container .body button{
    all: unset;
    position: absolute;
    bottom: 25px;
    right: 50px;
    cursor: pointer;
}

.quiz_container .body button svg{
    color: #00FFFF !important;
    font-size: 1.6rem;
    
}

.quiz_container .body .questionno{
    text-align: center;
    margin: 15px 0 0 0;
}

.result_container .body{
    padding: 20px 80px 80px 80px;
    text-align: center;
    position: relative;
    color: white;
}

.result_container .body .heading{
    color: #05FF00;
}

.result_container .body .name{
    font-size: 20px;
}

.result_container .body .scorediv{
    background-color: #5200FF;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 40px;
    border-radius: 10px;
    
}

.result_container .body .scorediv h4{
    font-weight: bold;
    font-size: 22px;
    margin: 0 !important;
}

.result_container .body .remarks{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.result_container .body .restartbtn{
    all: unset;
    background-color: #5200FF;
    color: white;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    font-weight: 900;
}

.result_container .body .restartbtn:hover{
    background-color: #4506cb;
}

@media screen and (max-width: 992px){
    .main_container {
        border-radius: 50px;
        width: 500px;
        background-color: #000E56;
    }
}

@media screen and (max-width: 700px){

    .quiz_container .body {
        padding: 20px 50px 40px 50px;
    }

    .result_container .body{
        padding: 20px 50px 80px 50px;
    }
}

@media screen and (max-width: 600px){
    .main_container {
        border-radius: 50px;
        width: 100%;
        background-color: #000E56;
    }

}

@media screen and (max-width: 450px){

    .quiz_container .body {
        padding: 20px 30px 40px 30px;
    }

    .result_container .body{
        padding: 20px 30px 80px 30px;
    }
}

@media screen and (max-width: 375px){

    .quiz_container .body {
        padding: 20px 10px 40px 10px;
    }

    .result_container .body{
        padding: 20px 10px 80px 10px;
    }
}

@media screen and (max-width: 350px){
    .main_container .body .heading {
        font-size: 1.4rem;
    }
}